@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
          *{
               margin: 0;
               padding: 0;
               box-sizing: border-box;
               font-family: "Poppins", sans-serif;
          }
          body{
               display: flex;
               align-items: center;
               justify-content: center;
               min-height: 100vh;
               background-color: #222;
               color: #fff;
          }
          .container{
               position: relative;
               display: flex;
               align-items: center;
               justify-content: center;
          }
          .container .cigarette{
               transform-style: preserve-3d;
               animation: rotate 15s linear infinite;
          }
          @keyframes rotate{
               0%{
                    transform: perspective(1000px) rotateX(0deg);
               }
               100%{
                    transform: perspective(1000px) rotateX(360deg);

               }
          }
          .container .cigarette span{
               position: absolute;
               font-size: 1.35em;
               font-weight: 900;
               color: #fff;
               transform: translate(-50% , -50%) rotateX(calc(var(--i) * 36deg)) translateZ(25px);
               line-height: 0.76em;
               text-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
               text-transform: uppercase;
               background: rgba(0, 0, 0, 0.25);
               transform-style: preserve-3d;
          }
          .container .cigarette span i{
               font-style: normal;
               color: #ec9535;
          }
          .container .cigarette span i:first-child:after{
               content: "l";
               text-transform: lowercase;
               color: #ccc;
          }
          .container .cigarette span i:last-child{
               color: #f00;
               filter: blur(2px);
               text-shadow: -4px 0 2px #000,
               8px 0 20px #f00,
               8px 0 24px #f00,
               8px 0 0 #222,
               12px 0 #555,
               16px 0 #666,
               20px 0 #888,
               24px 0 #999;
          }